@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<a href="javascript:go('hmv-Gen/1:1-99')">Matthew 1:</a>




<center>
    <object type="text/html" data="http://ibibles.net/quote.php?hmv-Gen/5:3-12"
            width="800" height="160"></object>
</center>

<script type="text/JavaScript">
    function go(x) {
        address = "http://ibibles.net/quote.php?" + x;
        window.open(address, "noname", "width=800,height=500,scrollbars=yes", false)
    }
</script>
