@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ברוכים הבאים לאתר הקדוש</h1>
    <p>האתר מספק שירותים לבתי כנסיות וכן למשתמשים רגלים. תוכלו למצוא בו זמני היום , ספר התנך הלכות ועוד דברים שווים  </p>
</div>
